<app-ng-drawer>
    <app-test-content name="main">template test</app-test-content>
</app-ng-drawer>

<div style="height: 300px; background: rgb(95, 95, 221)"></div>
<div style="height: 300px; background: rgb(214, 131, 131)"></div>
<div style="height: 300px; background: rgb(136, 230, 183)"></div>
<div style="height: 300px; background: rgb(204, 230, 144)"></div>
<div style="height: 300px; background: rgb(202, 148, 212)"></div>
<div style="height: 300px; background: rgb(215, 230, 202)"></div>
<div style="height: 300px; background: rgb(47, 75, 88)"></div>